# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database / instance folder
instance/
*.sqlite3

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
